#more1 {
    display: none;
}
#more2 {
    display: none;
}
#more3 {
    display: none;
}
#more4 {
    display: none;
}
#more5 {
    display: none;
}
#more6 {
    display: none;
}
#more7 {
    display: none;
}