<a
    href='{{action}}'
    class='f-fallback button'
    target='_blank'
    style='
        color: #fff;
        border-color: #003e6b;
        border-style: solid;
        border-width: 10px 18px;
        background-color: #003e6b;
        display: inline-block;
        text-decoration: none;
        border-radius: 3px;
        box-shadow: 0 2px 3px rgba(0, 0, 0, 0.16);
        -webkit-text-size-adjust: none;
        box-sizing: border-box;
    '
>
    {{text}}
</a>