<tr>
    <td
        class='email-masthead'
        style='word-break: break-word; font-family: "Roboto", Helvetica, Arial, sans-serif; font-size: 16px; text-align: center padding: 25px 0;'
        align='center'
    >
        <a
            href='https://app.posterlab.co'
            class='f-fallback email-masthead_name'
            style='
                color: #a8aaaf;
                font-size: 16px;
                font-weight: bold;
                text-decoration: none;
                text-shadow: 0 1px 0 white;
                padding: 1rem;
            '
        >
            {{! Change this url to the url you want to be displayed. It has to
            be uploaded somewhere and reference here. }}
            <img
                src='cid:{{logo}}'
                alt='{{logo}} logo'
                border='0'
                align='middle'
                width='350'
                height='auto'
                style='padding:1rem'
            />
        </a>
    </td>
</tr>