<head>
  <title>PosterLab Summarizer</title>
  <!-- Global site tag (gtag.js) - Google Analytics -->
  <script async src="https://www.googletagmanager.com/gtag/js?id=G-BH1F53DRLX"></script>
  <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());

    gtag('config', 'G-BH1F53DRLX');
  </script>
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@tailwindcss/ui@latest/dist/tailwind-ui.min.css">
</head>

<div class="relative bg-white">
  <div class="relative mx-auto lg:grid lg:grid-cols-5">
    <div class="bg-gray-100 py-16 px-4 sm:px-6 lg:col-span-2 lg:px-8 lg:py-8 xl:pr-12">
      <div class="max-w-lg mx-auto">
        <a class="block h-15 w-5/12 mb-15"
           href="https://app.posterlab.co/"><img class="mb-15 h-15" src="static/logo-posterlab.png"></a>
        <p class="mt-3 text-base leading-6 text-gray-500">
          <span class="text-gray-900">PosterLab - Knowledge Transferred. FAST </span><br><br>
          PosterLab offers a Suite of tools, standards and workflows
          accelerating early research findings/status knowledge transfer
          within and across research organizations (academic, corporate). <br><br>
        </p>
        <div class="lg:absolute bottom-10 sm:relative">
          <dl class="mt-8 text-base leading-6 text-gray-500 text-base">
          <div class="mt-3 text-base">
            <dt class="sr-only">LinkedIn</dt>
            <dd class="inline-flex">
            <span class="text-gray-900">
                To our LinkedIn page: <a class="text-blue-500"
                                         href="https://www.linkedin.com/company/posterlab/">PosterLab
                LinkedIn</a>
              </span>
              <img class="h-5 ml-2" src="static/LinkedInLogo.jpeg" alt="">
          </dd>
          </div>
        </dl>
          <dl class="text-base leading-6 text-gray-500">
          <div class="text-base">
            <dt class="sr-only">PosterLab Twitter</dt>
            <span class="text-gray-900">
                To our Twitter: <a class="text-blue-500" href="https://twitter.com/poster_lab">PosterLab Twitter</a>
              </span>
          </div>
        </dl>
        <dl class="text-base leading-6 text-gray-500 text-base">
          <div class="text-base">
            <dt class="sr-only">PosterLab Website</dt>
            <span class="text-gray-900">
                To our website: <a class="text-blue-500" href="https://app.posterlab.co/">PosterLab Website</a>
              </span>
          </div>
        </dl>
        <dl class="text-base leading-6 text-gray-500">
          <div class="text-base">
            <dt class="sr-only">Email</dt>
            <span class="text-gray-900">
                You can reach us via email at <span class="text-blue-500">communication@posterlab.co</span>
              </span>
          </div>
        </dl>
          <span class="inline-flex rounded-md shadow-sm mt-3">
              <a href="https://forms.clickup.com/f/29g8n-2752/2G3G3MC6A82B3R6WO5"
                 class="inline-flex justify-center py-3 px-6 border
                 border-transparent text-base leading-6 font-medium rounded-md text-white bg-indigo-900
                 hover:bg-blue-500 focus:outline-none focus:border-indigo-900 focus:shadow-outline-indigo
                 active:bg-indigo-900 transition duration-150 ease-in-out">
                BOOK A DEMO!
              </a>
            </span>
        </div>
      </div>
    </div>
    <div class="bg-white py-8 px-4 sm:px-6 lg:col-span-3 lg:px-8 xl:pl-12">
      <div class="max-w-lg mx-auto lg:max-w-none">
        <h2 class="mb-3 text-3xl tracking-tight font-extrabold text-gray-900 sm:text-4xl">PosterLab Summarizer</h2>
        <p class="mt-3 mb-2 text-base leading-6 text-gray-500">
          <span class="text-gray-900 mb-5 text-base">Notes for Usage: </span><br>
          You can either write your own text or upload a pdf with a text to let the system summarize it.
          Please note that your text or pdf should at least contain one correct sentence with punctuation,
          and enough expressive words. If the system can not detect your text, it will not proceed.
        </p>
        <p class="mt-0 text-base mb-3 leading-6 text-gray-500">
          The summarizer will take the 3 most important statements and put them into a short summary
        </p>
        <form action="/summarize" method="POST" class="grid grid-cols-1 gap-y-6">
          <div>
            <label for="text" class="block mb-0 font-medium">Text that should be summarized:</label>
            <div class="relative rounded-md shadow-sm">
              <textarea id="text" name="text" rows="4"
                        class="form-input block w-full py-3 px-4 placeholder-gray-500
                        transition ease-in-out duration-150"
                        placeholder="Paste or write your text here"></textarea>
            </div>
          </div>
          <div class="">
            <span class="inline-flex rounded-md shadow-sm">
              <button type="submit" value="Summarize"
                      class="inline-flex justify-center py-3 px-6 border
                      border-transparent text-base leading-6 font-medium rounded-md text-white bg-indigo-900
                      hover:bg-blue-500 focus:outline-none focus:border-indigo-900 focus:shadow-outline-indigo
                      active:bg-indigo-900 transition duration-150 ease-in-out">
                Summarize
              </button>
              <span class="inline-flex text-base py-3 px-6 leading-6 text-gray-500">Allow for a couple seconds to pass for
                the summarization results to display</span>
            </span>
          </div>
        </form>
        <form action="/readpdf" method="post" enctype="multipart/form-data" class="grid grid-cols-1 gap-y-6">
          <div>
            <label for="file" class="block mb-2 mt-0 font-medium">Pick a pdf file to summarize:</label>

            <input id="file"
                   type="file"
                   name="file"
                   multiple="true"
                   autocomplete="off"
                   required
                   accept="application/pdf" />
          </div>
          <div class="">
            <span class="inline-flex rounded-md shadow-sm">
              <input type="submit" value="Upload and Summarize"
                     class="cursor-pointer inline-flex justify-center py-3 px-6 border
                     border-transparent text-base leading-6 font-medium rounded-md text-white bg-indigo-900
                     hover:bg-blue-500 focus:outline-none focus:border-indigo-900 focus:shadow-outline-indigo
                     active:bg-indigo-900 transition duration-150 ease-in-out" />
            </span>
          </div>
        </form>
      </div>
    </div>
  </div>
  <footer class="bg-indigo-900">
    <div class=" flex justify-center h-16 text-white">
      <a class="m-5" href="https://www.itinkubator.com/privacy">Privacy</a>
      <a class="m-5" href="https://www.itinkubator.com/imprint">Imprint</a>
    </div>
  </footer>
</div>

<!--<p title="dataset">Generate TFIDF from CSV</p>-->
<!--<form method="post" action="/updatemodelcsv" enctype="multipart/form-data">-->
<!--	<p>-->
<!--		<input type="file" name="file" multiple="false" autocomplete="off" required  accept="application/csv" type="submit" value="updatemodelcsv">-->
<!--	</p>-->
<!--    <p>-->
<!--		<input type="submit" value="UploadCSV">-->
<!--	</p>-->
<!--</form>-->

